# Where to store backups
BACKUP_DESTINATION=~/Documents/DevOps-Practice-Test/bash-scripting_test/Backups

# Folders or patterns to exclude
EXCLUDE_PATTERNS=".git,node_modules,.cache"

# How many backups to keep
DAILY_KEEP=7
WEEKLY_KEEP=4
MONTHLY_KEEP=3

# Minimum required disk space in MB for backup
MIN_SPACE_MB=100

EMAIL_RECIPIENT="admin@example.com"

SNAPSHOT_FILE="./backup.snar"
